__pycache__
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.eggs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.orig
*.cover
.coverage
.cache
.tox
.nox
.pytest_cache
htmlcov
.ipynb_checkpoints
.mypy_cache
.pyre
.pytype
.dmypy.json
dmypy.json
__pypackages__
venv
ENV
env
venv.bak
env.bak
.idea
.vscode
*.iml